@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

body {
    background-color: #fff;
    color: #353535;
    font-family: "Montserrat", sans-serif;
}

.header-area {
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 9;
}

@media (max-width: 767px) {
    .header-area {
        padding-top: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-area {
        padding-top: 0;
    }
}

.header-area .header-top_area {
    padding: 6px 0;
    background: #fff;
    border-bottom: #e2e2e2 solid 1px;
}

@media (max-width: 767px) {
    .header-area .header-top_area .social_media_links {
        text-align: center;
    }
}

.header-area .header-top_area .social_media_links a {
    font-size: 15px;
    color: rgb(78, 78, 78);
    margin-right: 12px;
}

.header-area .header-top_area .short_contact_list {
    text-align: right;
}

@media (max-width: 767px) {
    .header-area .header-top_area .short_contact_list {
        text-align: center;
    }
}
.header-area .header-top_area .short_contact_list ul li {
    display: inline-block;
}

.header-area .header-top_area .short_contact_list ul li a {
    font-size: 13px;
    color: #414141;
    margin-left: 50px;
}

@media (max-width: 767px) {
    .header-area .header-top_area .short_contact_list ul li a {
        margin-left: 0;
        margin: 0 5px;
    }
}

.header-area .header-top_area .short_contact_list ul li a i {
    color: rgb(61, 61, 61);
    margin-right: 7px;
}

.navbar {
    padding: 0;
    margin-top: -15px;
    border-bottom: #e2e2e2 1px solid;
}

.img-logo {
    width: 200px;
}

.navbar-nav {
    font-size: 15px;
    margin-left: 0px;
    font-weight: 700;
}

.heading-title {
    color: #555555;
    font-size: 40px;
    font-weight: 700;
}

.heading-subtitle {
    color: #555555;
    font-weight: 500;
    font-size: 30px;
}

.custom-list {
    list-style: none;
    padding-left: 0;
    color: #555555;
}

.custom-list li {
    position: relative;
    padding-left: 30px;
}
.custom-list li:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url("../assets/images/interface.png");
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.heading-package-list {
    color: #555555;
    font-size: 25px;
    font-weight: 700;
}

.heading-package-subtitle {
    color: #555555;
    font-size: 20px;
}

.card-body {
    padding: 0;
}
.card-title {
    font-weight: 700;
    margin: 1px;
    font-size: 20px;
}

.card-subtitle {
    margin: 1px;
    font-size: 15px;
}

.price-left {
    padding: 0;
}

.price-center {
    margin: -18px 0 0 0;
    padding: 0;
    font-weight: 700;
    font-size: 50px;
}

.price-right {
    padding: 0;

    margin-left: -11px;
}

.count-user {
    margin: 0;
}

.item-price {
    overflow: auto;
}

.ribbon {
    width: 160px;
    height: 32px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
    background: #4dbe3b;
    transform: rotate(-45deg);
    position: absolute;
    left: -42px;
    top: -32px;
    padding-top: 7px;
}

.button-select .btn-default {
    padding: 10px 20px 10px 20px;
    border: #353535 2px solid;
    border-radius: 50px;
    font-weight: 700;
}

.button-select .selected {
    padding: 10px 20px 10px 20px;
    border: rgb(0, 133, 221) 2px solid;
    background: rgb(0, 133, 221);
    border-radius: 50px;
    font-weight: 700;
    color: #fff;
}

.button-select {
    margin: 50px 0 30px 0;
}

.selected {
    border: #368bec 1px solid;
}

.heading {
    border: none;
    background: #368bec;
    color: #fff;
}

.price {
    background: #368bec;
    color: #fff;
}

.user {
    color: #fff;
    background: #1d69c0;
}

.heading-display {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.line {
    display: block;
    width: 80px;
    height: 3px;
    background: #dbdbdb;
    margin: 20px auto;
}

.image-package {
    width: 120px;
}

.laravel-subtitle {
    font-size: 18px;
}

.socmed-icon {
    width: 35px;
}

.socmed-text {
    background: #dbdbdb;
    border: #acacac 1px solid;
    width: 70px;
    text-align: center;
}

.btn-lc {
    width: 200px;
    border-radius: 50px;
    border: 2px #fff solid;
    color: #fff;
    font-size: 20px;
}

.list-footer {
    list-style-type: none;
    color: #fff;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.newsletter {
    border-radius: 40px;
    border: none;
    padding-inline-start: 25px;
}

.input-group-append {
    margin-left: 0;
}

.btn-newsletter {
    background: #368bec;
    color: #fff;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 700;
}
